<h1>Flight Booker</h1>

<div>
  <h3>Departure Airport</h3>
    <%= form_with url: '/', method: :get do |f| %>
      <%= f.select :origin_code, @airport_options %>
  <h3>Arrival Airport</h3>
    <%= f.select :destination_code, @airport_options %>
  <h3>Passengers</h3>
    <%= f.select :passengers, (1..4).to_a %>
  <h3>Date</h3>
    <%= f.select :date, @departure_dates %>
    <p><%= f.submit 'Seach for Flights' %></p>
    <% end %>
</div>

<div>
<% if @origin_code %>
  <h3>Available Flights:</h3>
  <% if @origin_code == @destination_code %>
    <p>Please select different arrival/destination airports.</p>
  <% elsif @results.any? == false %>
    <p>Sorry, there are no flights available for this date.</p>
  <% else %>
    <%= form_with url: new_booking_path, method: :get do |f| %>
      <% @results.each do |result| %>
        <%= f.radio_button :flight_id, result.id %>
        <%= f.label :flight, 'Flight #' + result.id.to_s %>
        <%= f.hidden_field :passengers, value: @passengers %>
      <% end %>
      <p><%= f.submit 'Select this flight' %></p>
    <% end %>
  <% end %>
<% end %>
</div>

