<h1>New Booking</h1>
<div>
<p><%= 'Flight # ' + params[:flight_id].to_s %></p>
</div>
<div>
  <h3>Please Enter Passenger Information</h3>
    <%= form_with model: @booking, method: :get do |f| %>
      <%= f.hidden_field :flight_id, value: params[:flight_id] %>
      <%= f.fields_for :passengers do |sub_form| %>
        <p>Passenger #<%= @passenger_count += 1 %></p>
        <p><%= sub_form.label :name %>
        <%= sub_form.text_field :name %></p>
        <p><%= sub_form.label :email %>
        <%= sub_form.text_field :email %></p>
      <% end %>
      <%= f.submit %>
    <% end %>
</div>